body{
    background-color: #e1e1e1;
    margin: 0;
    padding: 5;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 11;

}
.logo{
    padding-left: 40px;
    left: 0px;
    position: absolute;
    z-index: 1;
    height: 72px;
    width: 100px;
}

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    overflow: auto;
    z-index: 0;
}
nav ul{
    text-align: end;
}

nav li{
    list-style: none; 
    display: inline-block;
    
}
nav a{
    width: 100px;
    display: block;
    padding: 8px 8px;
    text-align: center;
    list-style: none;
}
li a{
    text-decoration: none;
    color: #485A3F; 
    margin-right: 40px;
}
li a:hover{
border-style: solid;
border-color: #AC5113;
border-radius: 10px;
}

.logonav{
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.hero-image {
    background-image: url(../images/skygradient.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    color: white;
}
.hero-text p{
    margin-bottom: 30px;
}

.hero-text button {
    background-color: #485A3F;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(0, 0, 0.2);
}

.hero-text button:hover{
    background-color: #AC5113;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-left: 27em;
}
.card{
    width: 325px;
    background-color: #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 42px;
    
}
.card img{
    width: 100%;
    height: 100%;
}
.card-content{
    padding: 5px;
}
.card-content h3{
    font-size: 20px;
    margin-bottom: 8px;
}

.eventdesc{
    font-size: 14px;
    flex-wrap: wrap;
}
.level{
    color: #73360D;
    font-size: 14px;
    margin-bottom: -10px;
}

.card-content .btn{
    display: inline-block;
    padding: 8px;
    background-color: #485A3F;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.card-content .btn:hover{
    background-color: #AC5113;
}
aside{
    float: left;
    width: 35%;
    margin-left: 30px;
    margin-top: 120px;
    line-height: 27px;
}

footer{
    background-color: #6D4A87;
    padding: 10em;
}
.footertext{
color: white;
margin-top: -80px;
}

.viewall{
    color: #AC5113;
    margin: 10em;
    margin-left: 60em;
    padding: 7px; 
}

.upcomingevents{
    padding-top: 105px;
    text-indent: 46px;
    
}
.reviewdiv{
    padding-top: 11em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 500;
    font-size: larger;
}

ol{
    padding-left: 37em;
    padding-top: 4em;
}
ol li{
    padding-bottom: 70px;
    color: #73360D;
}

@media only screen and (max-width: 600px){
    nav{
        padding: 0px;
        width: 600px;
        height: 65px;
    }
    
    li a{ 
        margin-right: 0px;
        font-size: 13px;
        margin-left: 0px;
    }
    
    nav li{
        margin-left: 30px;
        margin-right: -83px;
        float: left;
    }
    .logo{
        width: 60px;
        height: 60px;
        margin-left: -20px;
    }
    
    .card-container{
        overflow: visible;
        margin: 0em;
    }

    .hero-text{
        font-size: 11px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .hero-text p{
        font-size: 14px;  
    }
    
    .hero-text button {
        background-color: #485A3F;
        font-weight: bold;
        padding: 13px;
        font-size: 12px;
    }

    aside{
        float: none;
        width: 85%;
        margin-left: 35px;
        margin-top: 37px;
        line-height: 25px;
    }

    .upcomingevents{
        padding-top: 35px;
        text-indent: 46px;
    }
    .card-content h3{
        font-size: 17px;
        margin-bottom: 8px;
    }
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 8px;
        margin-left: 0em;
    }
    .viewall{
        margin: 0em;
        margin-left: 7em;
        padding: 7px; 
    }
    .reviewdiv{
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 2em;
        font-weight: 450;
        font-size: 16px;
    }
    
    ol{
        padding-left: 15em;
        padding-top: 4em;
    }
    ol li{
        padding-bottom: 70px;
    }
    footer{
        padding-top: 8em;
        padding-left: 4em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px){
    .card{
        margin-left: -5em;
        width: 22em;
        height: 22em;
    }
    aside p{
        font-size: 14.5px;
    }
    
    .card-container{
        display: flex;
        
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 22em;
    }
    
    .card img{
        width: 100%;
        height: 100%;
    }
    .card-content{
        padding: 2px;
        padding-right: 0px;
        padding-left: -14px;
        width: 90%;
        justify-content: left;
    }

   
    nav{
        padding: 0px;
        height: 65px;
    }
    
    li a{ 
        margin-right:-50px;
        font-size: 14px;
        margin-left: 0px;
    }
    .nav ul{
        padding-left: -10em;
    }
    nav li{
        margin-left: 0px;
        margin-right: 0px;
        float: none;
    }
    .logo{
        width: 60px;
        height: 60px;
        margin-left: 0px;
    }
    

    .hero-text{
        font-size: 12px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .hero-text p{
        font-size: 15px;  
    }
    
    .hero-text button {
        font-weight: 500px;
        padding: 15px;
        font-size: 13px;
    }


    nav ul{
        text-align: center;
        margin-left: 150px;
    }
    
    nav li{
        list-style: none; 
        display: inline-block;
    }
    nav a{
        width: 100px;
        display: block;
        padding: 10px;
        text-align: center;
        list-style: none;
    }
    
    li a:hover{
    border-style: solid;
    border-color: #AC5113;
    border-radius: 10px;
    }
    
    .logonav{
        background-color: white;
        align-items: center;
        position: fixed;
        justify-content: space-between;
    }
    .viewall{
        display: block;
        margin-left: 23em;
        margin-top: 40px;
    }
    .reviewdiv{
        padding-top: 0px;
    }
    ol{
        padding-left: 25em;
    }

@media only screen and (min-width: 993px){
    .logo{
        padding-left: 40px;
        left: 0px;
        position: absolute;
        z-index: 1;
        height: 72px;
        width: 100px;
    }
    
    nav{
        position: fixed;
        width: 100%;
        background-color: white;
        overflow: auto;
        z-index: 0;
    }
    nav ul{
        text-align: end;
    }
    
    nav li{
        list-style: none; 
        display: inline-block;
        
    }
    nav a{
        width: 100px;
        display: block;
        padding: 8px;
        text-align: center;
        list-style: none;
    }
    li a{
        text-decoration: none;
        color: #485A3F; 
        margin-right: 40px;
    }
    li a:hover{
    border-style: solid;
    border-color: #AC5113;
    border-radius: 10px;
    }
    
    .logonav{
        background-color: white;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    }
    
    .hero-text{
        color: white;
    }
    .hero-text p{
        margin-bottom: 30px;
    }
    
    .hero-text button {
        background-color: #485A3F;
        font-weight: bold;
        color: white;
        padding: 15px;
        border-radius: 10px;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgb(0, 0, 0.2);
    }
    
    .hero-text button:hover{
        background-color: #AC5113;
    }
    
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 50px;
        margin-left: 27em;
    }
    .card{
        width: 325px;
        background-color: #e1e1e1;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 40px;
    }
    .card img{
        width: 100%;
        height: 100%;
    }
    .card-content{
        padding: 5px;
    }
    .card-content h3{
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .eventdesc{
        font-size: 14px;
        flex-wrap: wrap;
    }
    .level{
        color: #73360D;
        font-size: 14px;
        margin-bottom: -10px;
    }
    
    .card-content .btn{
        display: inline-block;
        padding: 8px;
        background-color: #485A3F;
        text-decoration: none;
        border-radius: 10px;
        color: white;
        font-size: 13px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    }
    .card-content .btn:hover{
        background-color: #AC5113;
    }
    aside{
        float: left;
        width: 40%;
        margin-left: 30px;
        margin-top: 120px;
        line-height: 27px;
    }
    
    footer{
        background-color: #6D4A87;
        padding: 10em;
    }
    .footertext{
    color: white;
    margin-top: -80px;
    }
    
    .upcomingevents{
        padding-top: 105px;
        text-indent: 50px; 
    }
    .reviewdiv{
        padding-top: 0em;
        padding-left: 2em;
        padding-right: 2em;
        font-weight: 500;
        font-size: larger;
    }
    
    ol{
        align-content: center;
        padding-top: 4em;
    }
    ol li{
        padding-bottom: 70px;
        color: #73360D;
    }
}
}